@import url('https://fonts.googleapis.com/css?family=Sen:400,700,800&display=swap');
*{
    font-family: 'Sen', sans-serif;
    margin: 0px;
}

body{
    background-color: #ffea00;
    section{
        width: 100vw;
        height: 100vh;
        &.splash{
            .start{
                position: absolute;
                top: 50vh;
                left: 50vw;
                display: inline-block;
                padding: 20px 40px;
                color:#ffea00;
                font-size: 30px;
                font-weight: 800;
                background-color: #234099;
                &:hover{
                    transform: scale(1.2);
                }
            }
        }
        &.game{
            display: flex;
            .player{
                display: inline-block;
                width: 50vw;
                height: 100vh;
                .canvas{
                    width: 100%;
                    height: 50vh;
                    .hand{
                        height: 100%;
                    }
                }
                .panel{
                    width: 100%;
                    height: 50vh;
                    background-color: rgba(0, 0, 0, 0.1);
                    .ready{
                        position: relative;
                        top: 50%;
                        left: 50%;
                        display: inline-block;
                        padding: 10px 20px;
                        background-color: #234099;
                        color:#ffea00;
                        font-size: 30px;
                        font-weight: 800;
                    }
                    .playerReady{
                        background-color: #ffea00 ;
                        color:#234099;
                        border: 2px solid #234099;
                    }
                }
            }
        }
    }

}